<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 注解开启 -->
	<mvc:annotation-driven />
	
	<!-- 处理静态资源方式， 加上这个才能跳转到html页面 -->
	<mvc:default-servlet-handler/>
	
	<!-- 自动扫描 -->
	<context:component-scan base-package="cn.wx.*" />

	<!-- 视图配置 -->
	<bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/page/" />
		<property name="suffix" value=".html" />
	</bean>
	
	<!-- 微信初始化 -->
	<bean id="initWx" lazy-init="false" class="cn.core.servlet.WxInitServlet" init-method="init"/>

</beans>